# MariaDB
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_USER=wpuser
MYSQL_PASSWORD=changeme_db

# WordPress
WP_DB_NAME=wordpress

# Keycloak
KC_DB_NAME=keycloak
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=changeme_kc

# phpMyAdmin Basic Auth (generate with: htpasswd -nB admin)
PMA_BASIC_AUTH=admin:$$2y$$05$$changeme
