# === MariaDB Keycloak ===
KC_MYSQL_ROOT_PASSWORD=changeme_root_kc
KC_DB_NAME=keycloak
KC_DB_USER=kcdbadmin
KC_DB_PASSWORD=changeme_db_kc

# === Keycloak Admin ===
KC_ADMIN_USER=kcadmin
KC_ADMIN_PASSWORD=changeme_kc_admin
